.genre-card {
    min-height: 150px;
    min-width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.genre-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-5px);

}

.action {
    background-image: linear-gradient(to bottom right, #ca0101, #f06d06);
}

.adventure {
    background-image: linear-gradient(to bottom right, #177ad2, #f06d06);
}

.biography {
    background-image: linear-gradient(to bottom right, #727272, #c69800);
}

.comedy {
    background-image: linear-gradient(to bottom right, #fffd00, #10e01a);
}

.crime {
    background-image: linear-gradient(to bottom right, #0037ff, #e01010);
}

.drama {
    background-image: linear-gradient(to bottom right, #22be01, #062df0);
}

.horror {
    background-image: linear-gradient(to bottom right, #6f0ae0, #1482d6);
}

.romance {
    background-image: linear-gradient(to bottom right, #e00a0a, #ef07ec);
}

.sci-fi {
    background-image: linear-gradient(to bottom right, #6f0ae0, #13cf57);
}

.thriller {
    background-image: linear-gradient(to bottom right, #0cb8e3, #eed708);
}

.genre-text {
    color: white;
    font-weight: bold;
}