.cast-card {
    margin: 10px;
    min-width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px gray;

    overflow: hidden;
}

.person-card-img {
    width: 75%;
    height: 100%;
}

.person-card-body {
    font-size: 10px;
}

.card-body {
    margin: 1px;
    padding: 2px;
}
