
// change the theme
$theme-colors: (
        "primary": #105e94,
        "danger": #831c18,
        "dark": #000000,
        "background": #1d2021
);

$body-bg: #1d2021;
$body-color: #fff;

$card-border-radius: 10px;
$card-bg: #2f2f2f;

$input-bg: #000;
$input-border-radius: 0px;
$input-border-width: 0px;

@import "../node_modules/bootstrap/scss/bootstrap";